{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          // "chrome": "76"
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop",
    [
      "babel-preset-gatsby",
      {
        "targets": {
          // "chrome": "76"
          "esmodules": true
        }
      },
      "gatsby"
    ]
  ],
  "plugins": [
    // "react-hot-loader/babel",
    "emotion",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
  // "retainLines": true,
  // "sourceMaps": "both"
}
